* {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;
  padding: 30px 50px;
}

#nav-bar {
  margin-bottom: 1rem;
}

/* Banner */
.banner-title {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.information {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-img {
  position: relative;
}

/* Navbar */

.avatar {
  border: 0.6rem solid #fff;
  border-radius: 100%;
  position: absolute;
  margin-top: -5rem;
  width: 10%;
}

a {
  text-decoration: none;
}

.space-around {
  display: flex;
  gap: 15rem;
  justify-content: space-around;
}

.icon-user,
.icon-doc-text-inv,
.icon-mail-alt,
.icon-star-1 {
  color: #199cdb;
}

/* Thông tin cá nhân */

.muctieu {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  align-items: center;
}

.mt-40info {
  list-style: none;
}

.icon-app {
  margin-left: 2rem;
  color: #199cdb;
}

.title {
  margin-top: 3rem;
}

/* Thông tin nghề nghiệp */

/*  Kinh nghiệm  */

.layout {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 2rem;
}

.ic-toolbox,
.ic-pencil,
.ic-mic,
.ic-tools-2,
.ic-telescope {
  font-size: 3rem;
  text-align: center;
}

.cot-hang {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  gap: 2rem;
}

.kinhnghiem {
  border: 1px solid #868e96;
  padding: 2rem;
}

.hientai {
  width: 5rem;
  font-style: italic;
  text-align: center;
  color: #fff;
  background-color: #199cdb;
  border-radius: 5px;
  margin-left: 5rem;
  margin-top: -2rem;
}

i {
  color: #868e96;
}

/*  Học Vấn  */

.hocvan {
  border: 1px solid #868e96;
  padding: 2rem;
}

/* Hoạt Động */

.hoatdong {
  border: 1px solid #868e96;
  padding: 2rem;
}

/* Sở Thích */

.sothich {
  border: 1px solid #868e96;
  padding: 2rem;
}

.flex {
  display: flex;
}

.icon-container {
  text-align: center;
  width: 25%;
}
.icon {
  color: #199cdb;
  margin: 1rem;
  border: 1px solid #199cdb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic-megaphone,
.ic-strategy,
.ic-hotairballoon,
.ic-basket {
  color: #868e96;
}

/* Ngôn Ngữ */

.ngonngu {
  border: 1px solid #868e96;
  padding: 2rem;
}

.blue-underline {
  width: 5rem;
  border: 2px solid #00bfff;
  display: inline-block;
  border-radius: 1rem;
}

.gray-underline {
  width: 5rem;
  border: 2px solid #868e96;
  display: inline-block;
  border-radius: 1rem;
}

/* Kỹ năng */

.kynang {
  border: 1px solid #868e96;
  padding: 2rem;
}

/* Chứng chỉ - giải thưởng */

.Layout {
  display: grid;
  grid-template-columns: 50% 50%;
}

.chungchi {
  padding: 2rem;
  margin-left: 10rem;
}

.img-chungchi {
  display: flex;
  gap: 2rem;
}

.border1 {
  border-left: 1px solid #d6c08d;
}

.border {
  width: 90%;
  margin: 2rem;
  border-top: 1px solid #d6c08d;
  margin-left: 0rem;
}

/* Dự án */

.duan {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  gap: 2rem;
}

.project {
  /* border: 1px solid #ddd; */
  height: 60rem;
}

.cv {
  border: 1px solid #ddd;
  padding: 1rem;
}

.gioithieu {
  display: flex;
  gap: 4rem;
  border: 1px solid #ddd;
  padding: 1rem;
}

.nam {
  width: 3rem;
  font-style: italic;
  text-align: center;
  color: #fff;
  background-color: #199cdb;
  border-radius: 17px;
}

table {
  width: 25.6rem;
  border-collapse: collapse;
}

td {
  padding: 1.5rem;
  text-align: left;
  align-items: stretch;
  border: 1px solid #ddd;
}

/* Thông tin liên hệ */

ul {
  list-style: none;
}

.lienhe {
  display: inline-block;
}

.icon-facebook-circled,
.icon-linkedin-circled,
.icon-github-circled {
  color: #199cdb;
  margin-left: 15rem;
}

/* Ẩn thông tin cá nhân */

.form-container {
  margin-left: 1rem;
  text-align: center;
}

.hide {
  display: none;
}

button {
  background-color: #74c0fc;
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid #228be6;
}

button:active {
  background-color: #1971c2;
  transform: translateY(4px);
}
